<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardController</servlet-name>
        <servlet-class>controllers.DashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffListController</servlet-name>
        <servlet-class>controllers.StaffListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfilesController</servlet-name>
        <servlet-class>controllers.UserProfilesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffEditController</servlet-name>
        <servlet-class>controllers.StaffEditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffCreateController</servlet-name>
        <servlet-class>controllers.StaffCreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffDeleteController</servlet-name>
        <servlet-class>controllers.StaffDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PartsListController</servlet-name>
        <servlet-class>controllers.PartsListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PartsCreateController</servlet-name>
        <servlet-class>controllers.PartsCreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PartsDeleteController</servlet-name>
        <servlet-class>controllers.PartsDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PartsEditController</servlet-name>
        <servlet-class>controllers.PartsEditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicesListController</servlet-name>
        <servlet-class>controllers.ServicesListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicesCreateController</servlet-name>
        <servlet-class>controllers.ServicesCreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicesDeleteController</servlet-name>
        <servlet-class>controllers.ServicesDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicesEditController</servlet-name>
        <servlet-class>controllers.ServicesEditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateOrderController</servlet-name>
        <servlet-class>controllers.CreateOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RepairOrderListController</servlet-name>
        <servlet-class>controllers.RepairOrderListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditOrderController</servlet-name>
        <servlet-class>controllers.EditOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailController</servlet-name>
        <servlet-class>controllers.OrderDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvoiceController</servlet-name>
        <servlet-class>controllers.InvoiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOrderController</servlet-name>
        <servlet-class>controllers.DeleteOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerBookingController</servlet-name>
        <servlet-class>controllers.CustomerBookingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingListController</servlet-name>
        <servlet-class>controllers.BookingListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmBookingController</servlet-name>
        <servlet-class>controllers.ConfirmBookingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelBookingController</servlet-name>
        <servlet-class>controllers.CancelBookingController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardController</servlet-name>
        <url-pattern>/Dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffListController</servlet-name>
        <url-pattern>/Staff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfilesController</servlet-name>
        <url-pattern>/UserProfiles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffEditController</servlet-name>
        <url-pattern>/StaffEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffCreateController</servlet-name>
        <url-pattern>/StaffCreate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffDeleteController</servlet-name>
        <url-pattern>/StaffDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PartsListController</servlet-name>
        <url-pattern>/Parts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PartsCreateController</servlet-name>
        <url-pattern>/PartsCreate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PartsDeleteController</servlet-name>
        <url-pattern>/PartsDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PartsEditController</servlet-name>
        <url-pattern>/PartsEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicesListController</servlet-name>
        <url-pattern>/Services</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicesCreateController</servlet-name>
        <url-pattern>/ServicesCreate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicesDeleteController</servlet-name>
        <url-pattern>/ServicesDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicesEditController</servlet-name>
        <url-pattern>/ServicesEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateOrderController</servlet-name>
        <url-pattern>/CreateOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RepairOrderListController</servlet-name>
        <url-pattern>/RepairOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditOrderController</servlet-name>
        <url-pattern>/EditOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailController</servlet-name>
        <url-pattern>/OrderDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvoiceController</servlet-name>
        <url-pattern>/Invoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOrderController</servlet-name>
        <url-pattern>/DeleteOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerBookingController</servlet-name>
        <url-pattern>/CustomerBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingListController</servlet-name>
        <url-pattern>/BookingList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmBookingController</servlet-name>
        <url-pattern>/ConfirmBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelBookingController</servlet-name>
        <url-pattern>/CancelBooking</url-pattern>
    </servlet-mapping>
</web-app>
